<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>結果</title>
<link rel="stylesheet" type="text/css" href="Team19.css">
</head>
<body>
	<form method="post" th:action="@{team19_3}">
		
	<h2>あなたの気分に合う曲</h2>
	<textarea name="textarea1" rows="5" cols="30">この中に入力</textarea>
	<input type="submit" value="送信" name="submit">
	<br>
	<input type="submit" value="戻る" name="back">
	<input type="submit" value="あなたも登録" name="register">
	</form>
	<a href="team19">Topページへ戻る</a>
</body>
</html>