<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>登録画面</title>
<link rel="stylesheet" type="text/css" href="Team19/Team19.css">
</head>
<body>
	<h2 class="register-tittle">登録画面</h2>
	<form method="post" th:action="@{team19_4}"th:object="${team19RegisterForm}">
		<label class="register-botton">
		<input type="submit" name="add" value="追加">
		<input type="submit" name="register" value="登録">
		<input type="submit" name="back" value="戻る">
		<input type="submit" name="clear" value="削除">
		</label>
		<div  th:if="${#fields.hasGlobalErrors()}">
			<p class="error-message" th:each="err : ${#fields.globalErrors()}"
			th:text="${err}"></p>
		</div>
		<p class="register-text">ジャンルを選択してください</p>
		<select class="register-janruselect" th:field="*{Janru}">
			<option value="J-POP">J-POP -邦楽-</option>
			<option value="インスト">Instrumental -インスト-</option>
			<option value="アニソン・ボカロ">Anime・VocaloidSong -アニソン・ボーカロイド-</option>
			<option value="洋楽">Forigen Music -洋楽-</option>
			<option value="その他">Other -その他のジャンル-</option>
		</select>
		<p class="register-text">気分を選択してください</p>
		<select class="register-moodselect"th:field="*{Mood}">
			<option value="楽しい">JOY -楽しい-</option>
			<option value="落ち込んでいる">SAD -落ち込んでいる-</option>
			<option value="盛り上がる">EXCITING -盛り上がる-</option>
			<option value="リラックス">RELAX -リラックス-</option>
		</select>
		<br>
		<p class="register-text">曲名を入力してください</p>
		<input type="text" th:field ="*{MusicNm}" size="20">
		<span class="error-message" th:if="${#fields.hasErrors('MusicNm')}" th:errors="*{MusicNm}"></span>
		<br>
		<p class="register-text">アーティスト名を入力してください</p>
		<input type="text" th:field ="*{Artist}" size="20">
		<span class="error-message" th:if="${#fields.hasErrors('Artist')}" th:errors="*{Artist}"></span>
		<br>
		<p class="register-text">曲のURLを入力してください※SpotifyのURLのみ有効です</p>
		<input type="text" th:field = "*{Url}" size="100">
		<span class="error-message" th:if="${#fields.hasErrors('Url')}" th:errors="*{Url}"></span>
		<p class="rist-text">あなたが曲を登録しようとしているリスト</p>
		<table class="list-table"border ="1">
			<tr>
				<th>番号</th>
				<th>ジャンル</th>
				<th>気分</th>
				<th>曲名</th>
				<th>アーティスト名</th>
				<th>曲のURL</th>
			</tr>
			<tr th:each="data,st :${result}" th:object="${data}">
				<td th:text="${st.count}"></td>
				<td th:text="*{Janru}"></td>
				<td th:text="*{Mood}"></td>
				<td th:text="*{MusicNm}"></td>
				<td th:text="*{Artist}"></td>
				<td th:text="*{Url}"></td>
			</tr>
		</table>	
	</form>
</body>
</html>