<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>結果</title>
<link rel="stylesheet" type="text/css" href="team19/Team19.css">
</head>
<body>
	<form method="post" th:action="@{team19_3}">
		
	<h2 class="result-text" th:text="${team19Form.name} + の気分に合う曲"></h2>
	<p class="result-text2"th:text="気分： + ${mood} "></p>
	<input type="hidden" name="mood" th:value="${mood}">
	<p class="result-text2" th:text="ジャンル： + ${janru} "></p>
	<input type="hidden" name="janru" th:value="${janru}">

	<table class="list-table"border="1">
		<tr>
			<th>曲名</th>
			<th>アーティスト名</th>
			<th>再生URL</th>
<!--			<th>イイね数</th>-->
		</tr>
		<tr th:each="data : ${musicList}" th:object="${data}">
			<td th:text="*{musicNm}"></td>
			<td th:text="*{artist}"></td>
			<td><a th:href="*{musicUrl}" target="_brank" th:text="クリックして再生ページへ！"></a></td>
<!--			<td th:text="*{likeCnt}"></td>-->
		</tr>
	</table>
	
	
	<th:block th:object="${team19CommentForm}">
	    <span class="result-comment-text">コメントする曲を選択してください</span>
		<p>コメントする曲名を検索</P>
	    <input type="text"
			name="commentMusicNm"
			placeholder="コメントする曲名を入力">

	    <textarea th:field="*{comment}" rows="5" cols="30">この中に入力</textarea>
	    <p class="error-message" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></p>
	</th:block>

	
	
	<input type="submit" value="送信" name="submit">
	<h3>曲名でコメント検索</h3>
	<input type="text" name="searchMusicNm" placeholder="検索する曲名を入力">
	
	<input type="submit" value="コメント検索" name="searchComment">
	
	<table class="list-table" border="1">
			<tr>
				<th>日時</th>
				<th>曲名</th>
				<th>コメント</th>
			</tr>
			<th:block th:unless="${commentNone == null }">
			<tr>
				<td th:text="${date}"></td>
				<td colspan="2" th:text="${commentNone}"></td>
			</tr>
			</th:block>
			<tr th:each="data,i : ${comeList}" th:object="${data}">
				<td th:text="*{commentDate}"></td>
				<td th:text="*{musicNm}"></td>
				<td th:text="*{comment}"></td>
			</tr>
		</table>
	
	<br>
	<div class="result-botton">
	<input type="submit" value="戻る" name="back">
	<input type="submit" value="あなたも登録" name="register">
	</div>
	</form>
	<a href="team19">Topページへ戻る</a>
</body>
