<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>ホーム画面</title>
<link rel="stylesheet" type="text/css" href="Team19Home.css">
</head>
<body>
<h1>あなたの今の気分から、至高の曲をお届けします。</h1>
<p>名前を入力し、気分・ジャンル選択画面に移行してください</p>
<p>自分のお気に入りの曲を、他の人にシェアも出来ます。</p>
<form method="post" th:action="@{team19_1}" th:object="${team19Form}">
	<input type="text" th:field="*{name}" size="20">
	<input type="submit" value="確定">
	<input type="submit" name="register" value="曲登録ページ">
</form>
</body>
</html>

